@font-face {
    font-family: 'EDO';
    src: url('../Font/EDO/edo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(144 145 139);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: 0;
}

.header {
    z-index: 1;
    height: 10vh;
    background-color: #FDFEE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 10px 8px black; */
}

#Burger {
    padding: 0;
    height: 9vh;
    margin-left: 2vh;
    margin-top: 2px;
}

#Burger:hover {
    transform: scale(110%);
    cursor: pointer;
}

#gauche {
    background-color: transparent;
    border: none;
}

#millieu {
    font-family: 'EDO';
    color: #94DAE1;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#droite {
    margin-right: 2vh;
}

.logo {
    height: 10vh;
    margin: 30px;
}

#user {
    height: 7vh;
}

#user:hover {
    transform: scale(110%);
    cursor: pointer;

}

#user .svg-path {
    fill: #c9e265;
    transition: fill 0.3s;
}

#user:hover .svg-path {
    fill: #94DAE1;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.darker {
    position: absolute;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

/* Burger-menu */
.vertical-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -250px;
    background-color: #FDFEE9;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.vertical-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c9c3c3;
    display: block;
    transition: 0.3s;
}

.vertical-menu a:hover {
    color: #111;
}

.vertical-menu a {
    color: #94DAE1;
    list-style-type: none;
    padding: 0;
    margin: 15px;
}

.vertical-menu.active {
    left: 0;
    box-shadow: 10px 0px 10px black;
}

.vertical-menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Fin menu */

.canape {
    margin-top: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    background-color: #FDFEE9;
    z-index: 1;
    font-family: 'EDO';
    font-size: 25px;
    color: #94DAE1;
}

.tapis {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    background-color: #FDFEE9;
    z-index: 1;
    font-family: 'EDO';
    font-size: 25px;
    color: #94DAE1;
}

.matelas {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    background-color: #FDFEE9;
    z-index: 1;
    font-family: 'EDO';
    font-size: 25px;
    color: #94DAE1;
}

.photo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.carrousel {
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    border: none;
}

.carrousel:hover {
    transform: scale(110%);
}

#photocomm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo {
    height: 30vh;
    width: 30vh;
}

.connexion {
    top: 20vh;
    left: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    background-color: #90918B;
    color: #94DAE1;
    width: 60vh;
    height: 50vh;
    font-size: 30px;
    border-radius: 30px;
}

.titre {
    margin-top: -5vh;
    color: white;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

#loginName {
    display: flex;
    text-align: center;

    margin-bottom: 5vh;
    width: 40vh;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background-color: #c9e265;
    color: black;
    font-size: 20px;
}

.mdp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

#password {
    display: flex;
    text-align: center;
    width: 40vh;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background-color: #c9e265;
    color: black;
    font-size: 20px;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#co {
    background-color: green;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 7px;
    color: white;
}

#co:hover {
    transform: scale(110%);
}

.fdp {
    text-decoration: underline;
    color: white;
    font-size: 15px;
}

.hidden {
    display: none !important;
}

.back {
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    z-index: 4;
    opacity: 70%;
    height: 100%;
    width: 100%;
}

.scrollx {
    overflow: hidden;
}

.closeco {
    position: relative;
    border: none;
    background-color: transparent;
    height: 50px;
    margin-top: -2vh;
    margin-left: 55vh;
}

#closed {
    height: 3vh;
}

#closed:hover {
    transform: scale(130%);
}

#footeracceuil {
    height: 5vh;
    background-color: #c9cab8;
    display: flex;
    align-items: center;
    justify-content: end;
}

#pfooter {
    margin-right: 4vh;
}

/* Devis */
.sep {
    position: absolute;
    height: 0.3vh;
    margin-top: -0.5vh;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 90vh;

}

#devis {
    font-family: 'Roboto';
    color: #94DAE1;
    font-size: 5vh;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    height: 75vh;
    width: 75vh;
    font-family: 'Roboto';
    font-size: 2vh;
    border: none;
    border-radius: 2vh;
}


.selecbien {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;


}

.selecbien h2 {
    width: 10vh;
    text-align: center;
}

select {
    padding: 0.5vh;
    border: none;
    border-radius: 4vh;

}

#place {
    text-align: center;
    width: 16vh;
}

.changement {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
}

#p1 {
    text-align: center;
    width: 22vh;
}

#p2 {
    text-align: center;
    width: 22vh;
}

#nbplace {
    margin-top: 2vh;
    text-align: center;
    width: 22vh;
}

.btnvalider {
    height: 4vh;
    width: 12vh;
    color: white;
    background-color: green;
    margin-top: 69vh;
    position: absolute;
    padding: 0.5vh;
    font-family: 'Roboto';
    font-size: 2.5vh;
    border: transparent;
    border-radius: 2vh;
}

/* Devis */
/* Contact */

#contacttitre {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 5vh;
    color: #94DAE1;
}

.contactblock {
    margin-top: 25vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}


/* Contact */