@font-face {
    font-family: 'EDO';
    src:url('../Font/EDO/edo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(55, 118, 139);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: 0;
}

.header {
    height: 10vh;
    background-color: #FDFEE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 5px 0px black;
}

#Burger {
    padding: 0;
    height: 9vh;
    margin-left: 2vh;
    margin-top: 2px;
}

#Burger:hover {
    transform: scale(110%);
    cursor: pointer;
}
#gauche{
    background-color: transparent;
    border: none;
}
#millieu{
    font-family:'EDO';
    color:#94DAE1;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#droite {
    margin-right: 2vh;
}

.logo {
    height: 10vh;
    margin: 30px;
}

#user {
    height: 7vh;
}

#user:hover {
    transform: scale(110%);
    cursor: pointer;
    fill: #94DAE1;
}
#user .svg-path {
    fill: #c9e265;
    transition: fill 0.3s;
}

#user:hover .svg-path {
    fill: #94DAE1;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.darker {
    position: absolute;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

/* Burger-menu */
.vertical-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;     
    top: 0;
    left: -250px;
    background-color: #FDFEE9;
    padding-top: 60px;
    transition: left 0.5s ease;
    

  }

  .vertical-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c9c3c3;
    display: block;
    transition: 0.3s;
  }

  .vertical-menu a:hover {
    color: #111;
  }

  .vertical-menu a {
    color: #94DAE1;
    list-style-type: none;
    padding: 0;
    margin: 15px;
  }
  
  .vertical-menu.active {
    left: 0;
    box-shadow: 10px 0px 10px black;
  }

  .vertical-menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  /* Fin menu */