<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">  
          {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="header">
            <article id="gauche"> <img src="{{ asset('Image/burger-menu.svg') }}" id="Burger"></article>
            <article id="millieu">L'aspi Magique <img class="logo" src="{{ asset('Image/Logo.jpg')}}" alt=""></article>
            <article id="droite">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" id="user">
            <!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com
            License - https://fontawesome.com/license/free
            Copyright 2024 Fonticons, Inc. -->
            <path class="svg-path" fill="#c9e265" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path>
        </svg>
    </article></div>
        {% endblock %}
    </body>
</html>
