<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		{% include "base.html.twig" %}
	</head>
	<body>
		{% block body %}
			<p id="contacttitre">Contactez-nous</p>
			<div class="blockcontact">
				<article class="block tel">
					<img src="{{asset('Image/phone.svg')}}" class="contactlogo">
					<p class="blocktext">06.25.90.72.81</p>
				</article>
				<article class="block mail">
					<img src="{{asset('Image/at.svg')}}" class="contactlogo">
					<p class="blocktext">aspimagique@gmail.com</p>
				</article>
				<article class="block reseaux">
					<img src="{{asset('Image/facebook.svg')}}" class="contactlogo">
					<p class="blocktext">L'aspi Magique</p>
				</article>
			</div>
		{% endblock %}
	</body>
</html></body></html>
